In [22]:
pip install pymongo

Requirement already satisfied: pymongo in c:\miniconda\envs\py38_default\lib\site-packages (4.3.3)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\miniconda\envs\py38_default\lib\site-packages (from pymongo) (2.3.0)

In [23]:
import os
import datetime
import pymongo
import pprint
import pandas as pd

In [24]:
#host_name = "localhost"
#port = "27017"

atlas_cluster_name = "cluster0.0zywi.mongodb.net"
atlas_default_dbname = "test"
atlas_user_name = "ds2002"
atlas_password = "UVA!1819"

In [ ]:
# 3. Write a MongoDB query to display 5 documents sorted by “title” using pretty format in the collection movies.
db.movies.find().sort({"title":1}).limit(5).pprint()

['sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

NameError: name 'DB_NAME' is not defined

In [26]:
# MOVIES COLLECTION GENERAL QUERIES
# 1. Write a MongoDB query to display the total number of documents in the collection movies
db.movies.count_documents({})
db.comments.count_documents({})

23530

In [29]:
# 2. Write a MongoDB query to display any 5 documents using pretty format in the collection 
print(db.movies.find().limit(5).pprint())

<pymongo.cursor.Cursor object at 0x000002816BA5D2E0>

In [ ]:
# 4. Write a MongoDB query to display 5 documents (display only title and awards) sorted by “title” using pretty format in the collection movies.
db.movies.find({}, {"title":2, "awards":2, "_id":0}).sort({"title":1}).limit(5).pprint()

In [ ]:
# 5. Write a MongoDB query to display 5 documents (display only title and awards) sorted by “title” in descending order using pretty format in the collection movies.
db.movies.find({}, {"_id": 0, "title": 1, "awards": 1}).sort({"title":-1}), limit(5).pprint()

In [ ]:
# 6. Write a MongoDB query to display movies (display only title and awards) with most awards (number of awards in descending order).
db.movies.find({}, {"_id": 0, title: 1, awards: 1}).sort({"awards.wins": -1}).limit(1).pprint()

In [ ]:
# 7. Write a MongoDB query to display the details of the movie that won most awards
db.movies.find({}, {"_id": 0}).sort({'awards.wins': -1}).limit(1).pprint()

In [ ]:
# $AND/$ALL OPERATIONS
# 1. Write a MongoDB query to display any 5 movies with both the genres: “Adventure” and “Movie” in collection movies (use $all)
db.movies.find({"genres": {$all: ["Adventure", "Movie"]}}.limit(5).pprint()

In [ ]:
# 2. Write a MongoDB query to display any 5 movies with both the condition: genres “Adventure” and cast “Tom Hanks”.
db.movies.find({$and:[ {"genres": {$all:["Adventure"]}}, {"cast": {$all:["Tom Hanks"]}} ]}).limit(5).pprint()

In [ ]:
# AGGREGATION 
# 1. Write a MongoDB query to display average number of awards won by a movie (use aggregate function with $avg operator).
db.movies.aggregate([{$group:{_id: "", num: {$avg: "$awards.wins"}}}])

In [ ]:
# 2. Write a MongoDB query to display most awards won by a movie (use aggregate function with $max operator). Comments Collection General Queries
db.movies.aggregate([{$group:{_id: "", num: {$max: "$awards.wins"}}}])

In [ ]:
# 3. Write a MongoDB query to display the total number of documents in the collection movies.
db.comments.find().count_documents({})

In [ ]:
# 4. Write a MongoDB query to display the total number of users by name (use db.collection.distinct(field, query, options) and length) in the collection movies.
db.collection.distinct("name").length

In [ ]:
# 5. Write a MongoDB query to display any 5 documents using pretty format in the collection comments.
db.collection.find().limit(5).pprint()

In [ ]:
# 6. Write a MongoDB query to display 5 documents sorted by name using pretty format in the collection comments.
db.collection.find().sort({name: 1}).limit(5).pprint()

In [ ]:
# 7. Write a MongoDB query to display 5 latest comments (documents sorted by date in descending order) from "Megan Richards" using pretty format in the collection comments
db.collection.find({name: "Megan Richards"}).sort({"date":-1}).limit(5).pprint